<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Profile</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                        
                            <div class="col-md-3 px-1">
                                <div class="form-group">
                                    <label>Hospital Name</label>
                                    <p>{{hospital.HospitalName}}</p>
                                </div>
                            </div>
                            <div class="col-md-4 pl-1">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <p>{{hospital.email}}</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <p>{{hospital.fullAddress}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <p>{{hospital.phoneNumber}}</p>
                                </div>
                            </div>
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Hospital Rgistration Number</label>
                                    <p>{{hospital.RegNumber}}</p>
                                </div>
                            </div>
                            
                            
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
       
    </div>
</div>